.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.3125rem); } }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

.press-masthead {
  background: url("/public/img/background-press.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .press-masthead h4 {
    color: #fff870;
    opacity: 1; }
  .press-masthead h1 {
    margin: 0;
    padding: 0; }

.press-contact-block ul li:last-of-type {
  margin: 0;
  padding: 0; }

.press-contact-block ul li .fa {
  font-size: 0.875rem; }
